.navigation {
    /* position: fixed;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    */
    box-shadow: 0 4px 4px #00000040;
    z-index: 3;
    width: 100%;
    font-size: 22px; 
    background-color: #222a31;
    display: flex;
    flex-direction: row; /* Change to a column layout for small screens */
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: 3;
    position: fixed;
    top: 0;
}

.name {
    font-size: 28px;
    min-width: 225px;
    margin-left: 20px;
    margin-right: 20px;
}

.dark-mode-toggle {
    background-color: transparent;
    border: none;
    font-size: 32px;
    text-align: center;
}

.menu-toggle {
    display: none;
    font-size: 32px;
    padding: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    top: 100%;
    z-index: 3;

    animation-duration: 0.2s; /* Set the animation duration */
    animation-timing-function: ease-in-out; /* Set the timing function */
    animation-fill-mode: forwards; /* Ensure the final state is applied */
}

@keyframes expandMenu {
    from {
      max-height: 50px;
      font-size: 0px;
    }
    to {
      max-height: 1000px; /* Set a large max-height to accommodate the content */
      font-size: 24px;
    }
  }
  
  

.nav-links li {
    margin: 0 15px 0 15px;
}

.nav-links.open {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: block;
    background-color: #222a31;
    position: fixed;
    top: 55px; 
    left: 0;
    right: 0;
    padding: 5px;
    box-shadow: 0 4px 4px #00000040;
    max-height: 1000px;

}


.nav-links.open li {
    padding: 10px 0;
}

.navigation hr {
    display: none;
}

@media (max-width: 768px) {

    .navigation {
        justify-content: space-between;
    }

    .menu-toggle {
      display: block; /* Show the button on small screens */
    }
  
    .nav-links {
        text-align: left;
    }
    
    .nav-links.open {
        display: flex; /* Show the links when the menu is open */
        flex-direction: column;
        align-items: flex-start;
        animation-name: expandMenu;
    }
    
    .nav-links.closed {
        display: none;
    }

    .navigation hr {
        display: block;
        width: 100%;
        background-color: white;
        height: 3px;
        border-radius: 2px;
    }

    .navigation .name {
        width: 100%;
        flex: 1;
        margin: 0;
        margin-left: -29px;
        text-align: center;
    }
    
}


#contactMeLink {
    display: flex;
    align-items: center;
    justify-content: center;
}


.moon {
    height: 30px;
    width: 25px;
}

