nav {
    position: fixed;
    top: 1vh;
    height: 50px;
    width: 95vw;
    background-color: #457B9D;
    box-shadow: 0 4px 4px #00000040;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;

}

.verticalRule {
    border-left: 2px solid white;
    
}

#contactMeLink {
    display: flex;
    align-items: center;
}

