.main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.curtains {
    position: fixed;
    
}

.videoPlayer {
    position: relative;
    top: 0;
    left: 0;
}