.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    font-size: 18px;
}

.main p {
    max-width: 400px;;
}

.postPreviews {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222a31;
    background-color: #282828;
    width: 600px;
    height: 250px;
    padding: 20px;
    border-radius: 6px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 0;
}

.postLeft {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.postRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.previewText {
    display: flex;
    align-items: center;
    /* height: 100%; */
    margin: 20px;
}


.readMore {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 8px;
    border-radius: 0 0 6px 6px;
    /* background-color: #E63946; */
    background-color: #457B9D;
    background-color: #7a5af5;
    /* border-top: solid 2px black; */
}


@media only screen and (max-width: 768px) {
    .post {
        flex-direction: column;
        width: 300px;
        height: 350px;
    }

    .postLeft {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .postRight {
        height: 100%;
    }

    .readMore {
        border-radius: 0 0 6px 6px;
    }
}