.projectMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 6rem;
    min-height: 100vh;
    min-width: 100vw;
}

.card {
    width: 500px;
    height: 300px;
    margin: 20px;
}

.wimby {
    width: 500px;
    height: 300px;
    border: solid 1px white;
    border-radius: 20px;
    background-image: linear-gradient(#232f46,#49365f,#985E6D);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.comingSoon {
    width: 500px;
    height: 300px;
    border: solid 1px black;
    border-radius: 20px;
    background-color: #222a31;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.typing {
    width: 500px;
    height: 300px;
    border: solid 1px white;
    border-radius: 20px;
    background-color: darkgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    font-size: 32px;
}

.clicker {
    width: 500px;
    height: 300px;
    border: solid 1px white;
    border-radius: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    font-size: 10px;
}

.clicker img {
    width: 200px;
}

.recipes {
    width: 500px;
    height: 300px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #311b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    font-size: 32px;
}

.wimby:hover, .typing:hover, .recipes:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
}

.wimby h1 {
    font-size: 64px;
}

.comingSoon h1 {
    font-size: 44px;
}

@media only screen and (max-width: 768px) {
    
    .card {
        width: 300px;
    }

    .wimby, .typing, .recipes, .clicker {
        width: 300px;
    }


    .wimby h1 {
        font-size: 48px;
    }

    .comingSoon {
        width: 300px;
    }

    .comingSoon h1 {
        font-size: 26px;
    }
}