:root {
  background-color: #121212;
  color: #F1FAEE;
  color: black;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  scrollbar-width: auto;
  scrollbar-color: #457B9D;
  font-family: monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

body {
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  background-color: #121212;
}