.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  min-height: 100vh;
  color: white;
  /* margin-top: 30px; */
}


.bio {
  margin: 20px;
  margin-top: 80px;
}

.bio h1{
  text-align: left;
  font-size: 50px;
}

.bio p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  max-width: 700px;
}

.workingOn {
 margin: 15px;
}

@media only screen and (max-width: 768px) {

  .bio {
    width: 95%;
    margin-top: 20px;
  }

  .bio h1{
    font-size: 50px;
  }

  .bio p {
    font-size: 20px;;
  }

  .profile {
    min-width: 100%;
  }
  
  
  
}

@media only screen and (max-width: 1191px) {
  #pfp {
    width: 250px;
    height: 250px;
  }

  #pic-holder {
    width: 250px;
    height: 250px;

  }
  .pic-holder {
    width: 250px;
    height: 250px;
  }
  
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 100%;
  margin-top: 50px;
  flex-wrap: nowrap;
}

.pic-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 15%;
  overflow: hidden;
  position: relative;
  height: 350px;
  width: 350px;
}


.links a {
  margin: 10px;
}

.links {
  min-width: 360px;
}

.links img:hover {
  transform: translateY(-5px);
}

.pfp {
  width: 350px;
  height: 350px;
}

.interests h2, .skills h2 {
  font-size: 32px;
}


.interests li, .skills li{
  list-style-position: inside;
  font-size: 18px;
  min-width: 300px;
}

.interests ul, .skills ul{
  padding: 10px;
}

.interests, .skills {
  margin: 20px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#lastUpdated {
  width: 100%;
  padding: 4px;
  text-align: center;
  background-color: #222a31;
  position: fixed;
  bottom: 0;
  font-size: 18px;
  text-decoration: underline;
}
