.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  color: white;
}


.bio {
  margin: 20px;
}

.bio h1{
  text-align: center;
  font-size: 75px;
}

.bio p{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  max-width: 750px;
}

.workingOn {
 margin: 20px;
}

@media only screen and (max-width: 768px) {

  .bio {
    width: 95%;
  }

  .bio h1{
    font-size: 50px;
  }

  .bio p {
    font-size: 20px;;
  }
}



