.main {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 100px 0; */
    align-content: center;
}

.leftWrapper {
    min-width: 600px;
    margin: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    margin: 20px;
    margin-top: 10px;
}

.leftWrapper h1 {
    font-size: 60px;
}

.rightWrapper h2 {
    font-size: 50px;
}

.formWrapper {
    background-color: #222a31;
    background-color: #282828;
    border-radius: 6px;
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin: 30px;
    margin-top: 10px;
    min-width: 600px;
}

.emailForm {
    display: flex;
    flex-direction: column;
    /* border-radius: 20px; */
    /* border: 3px solid white; */
}

.emailForm input, .emailForm button, .message {
    /* width: 35vw; */
    min-width: 600px;
    padding: 10px;
    font-size: 20px;
    border: 0;
    /* border: 4px solid white; */
    background-color: transparent;
    color: white;
    border-bottom: 2px solid black;
}

.message {
    height: 220px;
    resize: none;
}

.emailForm input::placeholder, .message::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* padding: 10px; */
    font-size: 20px;
    color: white;
    opacity: 1; /* Firefox */
}

.emailForm input {
    height: 60px;
}

.emailForm button {
    cursor: pointer;
    min-width: 600px;

    font-size: 25px;
    margin-top: -5px;
    height: 7vh;
    border-bottom: 0;
    /* border-radius: 0 0 15px 15px; */
}

.emailForm button:hover {
   background-color: #457B9D;
   border-radius: 0 0 4px 4px;
}

.emailForm button:active {
    font-size: 24px;
   /* background-color: #E63946; */
   background-color: #457B9D;
   border-radius: 0 0 4px 4px;
   /* box-shadow: inset 4px 4px rgba(0,0,0,0.7); */
}


.links {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.links a {
    margin: 10px;
    position: relative;
    width: 125px;
    height: 125px;
}

.links a:hover {
    transform: translateY(-5px);
}


.messageSentModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    /* background-color: #457B9D; */
    background-color: #859098;
    color: white;
    font-size: 30px;
    border-radius: 6px;
}

.messageSentModal div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
}

.messageSentModal button {
    position: absolute;
    top: 86%;
    left: 86.7%;
    border: 0;
    background-color: #457B9D;
    color: white;
    padding: 5px;
    font-size: 25px;
    border-radius: 5px;
}

.messageSentModal button:active {
    box-shadow: inset 5px 5px rgba(0,0,0,0.25);
    font-size: 24px;
}


.messageSentModal::backdrop {
    background: rgba(0, 0, 0, 0.80);
}

.icon-and-address {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-and-address p {
    font-size: 20px;
}

.contactInfo {
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emailIcon {
    height: 100px;
    width: 100px;
    position: relative;
    margin-right: 10px;
}

.emailIcon:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 768px) {

    .emailForm input, .emailForm button, .message, .formWrapper, .rightWrapper, .leftWrapper {
        min-width: 300px;
    }

    .leftWrapper h1 {
        font-size: 40px;
    }

    .rightWrapper h2  {
        font-size: 28px;
        text-align: center;
    }

    .messageSentModal {
        width: 300px;
        height: 300px;
    }

    .messageSentModal button {
        position: absolute;
        top: 82%;
        left: 70%;
    }

    .links a {
        position: relative;
        width: 75px;
        height: 75px;
    }

    .emailIcon {
        width: 50px;
        height: 50px;
        position: relative;
    }

    .contactInfo {
        margin-bottom: 10px;
    }
}

.name {
    margin: 0;
}

@media only screen and (max-width: 1350px) {
    .main {
        margin: 50px 0px;
    }
}

