.weatherDataMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.currentWeatherCard {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    min-width: 600px;
    min-height: 250px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.50);
}

.currentStack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    min-width: 130px;
}

#showDetails {
    font-size: 16px;
    background-color: rgba(25,34,49,0.45);
    border: none;
    padding: 4px;
    border-radius: 4px;
}

#location {
    font-size: 30px;
}

#currentTemp {
    font-size: 100px;
}

#currentIcon {
    width: 225px;
    height: 225px;
}

#currentWeatherList {
    list-style: none;
    margin: 10px;
}

#currentWeatherList li {
    font-size: 18px;
}

#currentWeatherList p {
    font-size: 22px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .currentWeatherCard {
        min-width: 300px;
        min-height: 200px;
        margin-top: 100px;
    }

    #currentIcon {
        width: 350px;
        height: 350px;
        margin-bottom: -50px;
        margin-top: -50px;
    } 

    /* #currentTemp {
        font-size: 80px;
    }

    #location {
        font-size: 20px;
    }  */
}

.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.day {
    background-color: rgba(25,34,49,0.45);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.50);
    border-radius: 12px;
    min-width: 250px;
    height: 250px;
    margin: 20px;
}

.day p {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
}

.dayForecastData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dayForecastData img {
    margin: -40px;
    width: 225px;
}

@media only screen and (max-width: 768px) {

    .day {
        min-width: 350px;
    }
}