.typingMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding-top: 20px;
}

.wrapper {
    width: 1000px;
}

.wordBank {
    max-width: 100%;
    font-size: 29px;
    padding: 4px;
    margin-bottom: 8px;
}

.inputBox {
    width: 100%;
    height: 200px;
    border: 4px solid black;
    resize: vertical;
    background-color: #222a31;
    border-radius: 12px;
    font-size: 30px;
    padding: 4px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.wordNumRadioButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0 12px 0 4px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
}

.checked {
    color: green;
}

.infoRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.wordNumRadioButtons {
    min-width: 175px;
    max-width: 200px;
}


.statistics {
    display: flex;
    align-items: flex-end;
    align-content: center;
    font-size: 24px;
    text-align: end;
    min-width: 300px;
    justify-content: flex-end;
}

.accuracy {
    margin-right: 50px;
}

.statistics p {
    /* margin-right: 50px; */
    text-align: end;
} 

.reset {
    cursor: pointer;
    float: inline-end;
    background-color: red;
    border: none;
    border-radius: 6px;
    font-size: 24px;
    padding: 6px;
    margin-left: 8px;
}

.retry {
    cursor: pointer;
    float: inline-end;
    background-color: darkgreen;
    border: none;
    border-radius: 6px;
    font-size: 24px;
    padding: 6px;
}

.buttonDisabled {
    cursor: auto;
    background-color: grey;
}

hr { 
    border: 0;
    height: 2px;
    background-color: white;
}

.smallerText {
    font-size: 21px;
}

@media only screen and (max-width: 1050px) {
    .typingMain {
        margin-top: 45px;
        margin-bottom: 20px;
    }

    .infoRow p, .infoRow label {
        font-size: 19px;
    }

    .wrapper {
        width: 350px;
    }

    .wordBank {
        font-size: 20px;
    }

    .smallerText {
        font-size: 16px;
    }

    .inputBox {
        height: 100px;
    }

    .statistics {
        justify-content: flex-start;
        margin-left: 4px;
    }

    label {
        margin-bottom: -5px;
    }

    .accuracy {
        margin-right: 23px;
    }
}