.typingMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding-top: 20px;
}

.wrapper {
    width: 1000px;
}

.wordBank {
    max-width: 100%;
    font-size: 29px;
    padding: 4px;
    margin-bottom: 8px;
}

.inputBox {
    width: 100%;
    height: 200px;
    border: 4px solid black;
    resize: vertical;
    background-color: #222a31;
    border-radius: 12px;
    font-size: 30px;
    padding: 4px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.wordNumRadioButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column-reverse;
    font-size: 24px;
    margin: 10px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
}

.checked {
    color: green;
}

.infoRow {
    display: flex;
}

.infoRow p {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    font-size: 24px;
    text-align: end;
    width: 200px;
}

.reset {
    cursor: pointer;
    float: inline-end;
    background-color: red;
    border: none;
    border-radius: 6px;
    font-size: 24px;
    padding: 6px;
    margin-left: 8px;
}

.retry {
    cursor: pointer;
    float: inline-end;
    background-color: green;
    border: none;
    border-radius: 6px;
    font-size: 24px;
    padding: 6px;
}

.buttonDisabled {
    cursor: auto;
    background-color: grey;
}

@media only screen and (max-width: 1050px) {
    .typingMain {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .infoRow p, .infoRow label {
        font-size: 19px;
    }

    .wrapper {
        width: 350px;
    }

    .wordBank {
        font-size: 17px;
    }

    .inputBox {
        height: 100px;
    }
}