.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.main h1 {
    text-align: center;
    font-size: 40px;
}


.date {
    font-size: 18px;
    text-align: center;
}

.postContainer {
    /* margin: 800px 0; */
    padding: 100px 0;
    width: 850px;
}

.postContainer p {
    /* white-space: pre-wrap; */
    font-size: 18px;
    margin: 20px 0;
}

.main li {
    margin-left: 30px;
}

@media only screen and (max-width: 950px)  {
    .postContainer {
        width: 90vw;
    }
}