main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page h2 {
    font-size: 22px;
}

.page h4 {
    font-size: 16px;
}

.page p {
    font-size: 14px;
}


.download-link {
    position: fixed;
    bottom: 40px;
    right: 10px;
    padding: 3px;
    border-radius: 5px;
}

.download-link:hover {
    background-color: #457B9D;
    background-color: #7a5af5;
}

.page {
    max-width: 816px;
    max-width: 700px;
    padding: 16px;
    margin: 16px;
    margin-top: 75px;
    margin-bottom: 50px;
    background-color: #282828;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.head h1, .head h3 {
    margin: 4px;
}

.page hr {
    height: 1px;
    width: 100%;
    color: white;
    background-color: white;
}

.page ul {
    list-style-position: outside;
}

.page li {
    margin-left: 2rem;
    font-size: 14px;
}

.education-info {
    margin-left: 2rem;
}

.resume-skills {
    margin: 0;
}

.space-between-container {
    display: flex;
    justify-content: space-between;
}


